h1 {
    color: #27aedb;
    text-align: center;
}


button {
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

img {
    border-radius: 50%;
    width: 100%;
    height: auto;
}

.person-img {
    width: 30%;
}

.review {
    display: flex;
    justify-content: space-around;
}

.left {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.author {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    font-size: 23px;
    text-align: center;
}

.job {
    text-transform: capitalize;
    text-align: center;
    font-weight: 800;
    font-size: 20px;
}

.text {
    text-align: left;
    font-weight: 300;
    font-size: 18px;
}

.btn-grp {
    display: flex;
    justify-content: space-between;
}

.random-btn {
    width: 15%;

    margin-top: 20px;
}